<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
			label="COM_WISHBOXCDEK"
			name="wishboxcdek"
			addfieldprefix="Joomla\Component\Wishboxcdek\Administrator\Field"
	>
    </fieldset>

    <fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
        <field
			name="rules"
			type="rules"
			component="com_wishboxcdek"
			class="inputbox"
			filter="rules"
			validate="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			section="component"
		/>
	</fieldset>

    <fieldset name="component" label="COM_WISHBOXCDEK_FIELDSET_COMPONENT_LABEL">
		<field
				name="debug_mode"
				type="radio"
				label="COM_WISHBOXCDEK_FIELD_DEBUG_MODE_LABEL"
				description="COM_WISHBOXCDEK_FIELD_DEBUG_MODE_DESC"
				default="0"
				layout="joomla.form.field.radio.switcher"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field
				name="country_codes"
				type="list"
				label="COM_WISHBOXCDEK_FIELD_COUNTRIES_LABEL"
				description="COM_WISHBOXCDEK_FIELD_COUNTRIES_DESC"
				layout="joomla.form.field.list-fancy-select"
				hide_none="true"
				hide_default="true"
				multiple="true"
				size="6"
		>
			<option value="AM">COM_WISHBOXCDEK_FIELD_COUNTRIES_ARMENIA_OPTION</option>
			<option value="BY">COM_WISHBOXCDEK_FIELD_COUNTRIES_BELARUS_OPTION</option>
			<option value="KZ">COM_WISHBOXCDEK_FIELD_COUNTRIES_KAZAKHSTAN_OPTION</option>
			<option value="KG">COM_WISHBOXCDEK_FIELD_COUNTRIES_KYRGYZSTAN_OPTION</option>
			<option value="RU">COM_WISHBOXCDEK_FIELD_COUNTRIES_RUSSIA_OPTION</option>
		</field>
	</fieldset>
	<fieldset name="api" label="COM_WISHBOXCDEK_FIELDSET_API_LABEL">
		<field
				name="account"
				type="textarea"
				label="COM_WISHBOXCDEK_FIELD_ACCOUNT_LABEL"
				description="COM_WISHBOXCDEK_FIELD_ACCOUNT_DESC"
		/>
		<field
				name="secure"
				type="textarea"
				label="COM_WISHBOXCDEK_FIELD_SECURE_LABEL"
				description="COM_WISHBOXCDEK_FIELD_SECURE_DESC"
		/>
		<field
				name="account_test"
				type="textarea"
				label="COM_WISHBOXCDEK_FIELD_ACCOUNT_TEST_LABEL"
				description="COM_WISHBOXCDEK_FIELD_ACCOUNT_TEST_DESC"
		/>
		<field
				name="secure_test"
				type="textarea"
				label="COM_WISHBOXCDEK_FIELD_SECURE_TEST_LABEL"
				description="COM_WISHBOXCDEK_FIELD_SECURE_TEST_DESC"
		/>
	</fieldset>
</config>